.box {
    width: 300px;
    padding: 30px;

    margin-left: 40%;
    background-color: black;
}
section {
    width: 100%;
    text-align: center;
} 
.box h1 {
    color: white;
    font-weight: 89;

}

.box input{
margin: 10px;
}
body {
    background-color: black;
    color: white;
}